body {
  font-size: 14px;
}

#content {
  width: 500px;
}

#content .loading {
  margin: 10px auto;
  text-align: center;
}

#content .two-thirds {
  width: 100%;
}

a {
  color: #0366d6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: top;
  border-radius: 3px;
}

.header {
  padding: 10px;
  line-height: 32px;
}

.header img.avatar {
  width: 32px;
  height: 32px;
  margin-right: 12px !important;
}

.border-bottom {
  border-bottom: 1px #e1e4e8 solid !important;
}

#login {
  display: none;
}

.line-divider {
  display: inline-block;
  width: 2px;
  height: 10px;
  margin: 0 5px;
  background-color: #e5e5e5;
}
